@import url('https://fonts.googleapis.com/css2?family=Sono:wght@350&display=swap');

#photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-frame {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}

.single_img {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
}
 h3 {
    font-family: 'Lucida Sans','Lucida Sans Unicode', Arial, sans-serif ;
 }


.toggle-btn{
    margin-right: 10px;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-style: normal; 
}
.like-btn {
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-style: normal; 
}